// @use "Layout";

.controls {
  display: flex;

  .player {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;

    button {
      margin: 5px;
    }

    button.clicked {
      border: 1px solid #ccc;
    }

    button[id="1"] {
      color: green;
    }

    button[id="0"] {
      color: red;
    }
  }
}

.game {
  .gamectl {
    div,
    p {
      margin: 20px;
    }
    button {
      margin: 10px;
    }
  }
}

.stats {
  display: flex;
  border: 1px solid #ccc;

  overflow-x: auto;
  overflow-y: hidden;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  div {
    padding: 10px;
    border: 1px solid #ccc;
  }
}

.onlineForm {
  margin: 10px;

  label {
    margin: 10px;
    input {
      margin: 10px;
    }
  }
}

.about {
  text-align: left;
  background-color: #333333;
  padding: 25px;
  border-radius: 2rem;

  p,
  h2 {
    padding: 5px;

    a {
      color: #dadada;
    }
  }
}
