#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  display: flex;

  .player {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;

    button.clicked {
      border: 1px solid #ccc;
    }

    button[id="1"] {
      color: green;
    }

    button[id="0"] {
      color: red;
    }
  }
}

.stats {
  display: flex;
  border: 1px solid #ccc;

  div {
    padding: 10px;
    border: 1px solid #ccc;
  }
}
