#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  display: flex;

  .player {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;

    button {
      margin: 5px;
    }

    button.clicked {
      border: 1px solid #ccc;
    }

    button[id="1"] {
      color: green;
    }

    button[id="0"] {
      color: red;
    }
  }
}

.game {
  .gamectl {
    p {
      margin: 20px;
    }
    button {
      margin: 10px;
    }
  }
}

.stats {
  display: flex;
  border: 1px solid #ccc;

  overflow-x: auto;
  overflow-y: hidden;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  div {
    padding: 10px;
    border: 1px solid #ccc;
  }
}
